body {
    background: url("../images/game.jpg");
    background-repeat: no-repeat;
    background-position: 50% 30%;
    height: 100%;
}

div {
    background: color url("../images/farm.png") others;
    background-repeat: no-repeat;
    height: 50%;   
}


div#water{
    display:inline-block;
    width: 50vh;
    height: 50vh;
    position: absolute;
	bottom: 0;
	right: 0;
    /* margin-right: 2%; */
  }

img#water{
    width: 30vh;
    height: 30vh;
}

div#metal{
    display: inline-block;
    width: 50vh;
    height: 50vh;
    position: absolute;
	bottom: 0;
	left: 0;
  }


head {
    color: blue;
}

div#farm{
    display: inline-block;
    width: 50vh;
    height: 50vh;
    position: absolute;
	top: 3vh;
	right: 0;
}

img#farm{
    width: 40vh;
    height: 20vh;
}

#myProgress {
    display: inline-block;
    position: absolute;
    width: 40vh;
    height: 2vh;
    background-color: grey;
    left: 10%;
  }
  
#farmBar {
    width: 1%;
    height: 2vh;
    background-color: green;
  }

#metalBar {
    width: 1%;
    height: 2vh;
    background-color: green;
  }


#waterBar {
    width: 1%;
    height: 2vh;
    background-color: green;
  }
