body {
    /* background-image: url("../images/farm.png"); */
    background-repeat: no-repeat;
    background-color: #c2cfc5;


    height: 100%;
}

div{
    /* background-image: url("../images/farm.png"); */
    background: color url("../images/farm.png") others;
    background-repeat: no-repeat;
    height: 50%;
    
}

img#farm{
    display: block;
    width: 50vh;
    height: 40vh;
    margin-left: auto;
    margin-right: 2%;
  }

img#energy{
    display: block;
    width: 40vh;
    height: 20vh;
    margin-left: 2%;
    margin-right: auto;
  }
head {
    color: blue;
}