body {
    background: url("../images/game.jpg");
    background-repeat: no-repeat;
    background-position: 50% 30%;
    height: 100%;
}

img {
    position: relative;
    width: 100%;
}

.actions-container {
    text-align: center;
    position: absolute;
    bottom: 12vh;
    width: 90%;
}

.action {
    display: inline-block;
    position: relative;
    width: 20%;
    margin-left: 5%;
    margin-right: 5%;
}

.progressBar {
    display: inline-block;
    position: relative;
    width: 100%;
    height: 2vh;
    background-color: grey;
}

#farmProgress {
    width: 1%;
    height: 2vh;
    background-color: green;
    margin: 0vh;
}

#metalProgress {
    width: 1%;
    height: 2vh;
    background-color: green;
    margin: 0vh;
}

#waterProgress {
    width: 1%;
    height: 2vh;
    background-color: green;
    margin: 0vh;
}

div#lab {
    display: inline-block;
    width: 10vh;
    height: 40vh;
    position: relative;
}

/*
span#myPopup{
    display: inline-block;
    width: 40vh;
    height: 30vh;
    position: absolute;
	bottom: 10%;
	left: 10%;
  }

div#lab{
    display: inline-block;
    width: 10vh;
    height: 40vh;
    position: absolute;
	bottom: 10%;
	left: 10%;
}
*/