<!DOCTYPE html>
<html onclick="startMusic()">

<audio preload="auto" src="sounds/miisong.mp3" loop="true" autobuffer></audio>
<script>
    let playing = false;

    function startMusic() {
        if (!playing) {
            playing = true;
            let scriptTag = document.createElement('script');
            scriptTag.setAttribute('src', 'scripts/music.js');
            document.head.appendChild(scriptTag);
        }
    }
</script>

<style>
    html {
        background-image: url("../images/gameover.jpg");
        background-position: 50% 70%;
        height: 100%;
        text-align: center;
    }

    body {
        margin-top: 15%;
    }

    h1 {
        color: white;
        font-size: 20vh;
    }

    button {
        background-color: burlywood;
        color: white;
        font-size: 7vh;
        font-family: "Times New Roman", Times, serif;
        border-radius: 10vh;
        border-style: hidden;
        margin-top: -10vh;
        padding: 4vh;
    }
</style>

<body>
    <h1>GAME OVER</h1>
    <button onclick="window.location.href = '/home'">TRY AGAIN?</button>
</body>

</html>