<!DOCTYPE html>
<html>
    <head>
        <link rel = "stylesheet" href = "/stylesheets/homepage.css">
        <script src="//cdn.jsdelivr.net/npm/phaser@3.22.0/dist/phaser.js"></script>
        <script src = "/scripts/main.js" defer></script>
        <script src = "/scripts/stats.js" defer></script>
        <script src = "/scripts/actions.js" defer></script>
    </head>

    <body>
        <button onclick="setTimeout(harvestWater, 3000)">Try it</button>
        <button onclick="setTimeout(harvestFood, 3000)">Try it</button>
        <button onclick="setTimeout(harvestMetal, 3000)">Try it</button>
    </body>
</html>