<!DOCTYPE html>
<html>
<!-- <head>This is the homepage for the game</head> -->

<body>
    <div>
        <img id="background" src="./../images/wall-e.jpg">
    </div>
    

</body>

<style>
    div{
        background-image: url("./../images/wall-e.jpg");
        height: 100%; 
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
</style>