<!DOCTYPE html>
<html>
<head>This is the homepage for the game</head>
<link rel="stylesheet" href="stylesheets/homepage.css">

<body>
    <div>
        <!-- <img id="background" src="./../images/wall-e.jpg"> -->
    </div>
    


</body>


</html>

<style>
        div{
            background-color: black;
        }
    </style>