<!DOCTYPE html>
<html>
    <head>
        <link rel = "stylesheet" href = "/stylesheets/homepage.css">
        <script src="//cdn.jsdelivr.net/npm/phaser@3.22.0/dist/phaser.js"></script>
        <script src = "/scripts/main.js" defer></script>
        <script src = "/scripts/stats.js" defer></script>
        <script src = "/scripts/actions.js" defer></script>
    </head>

    <body>
        Population: <p id="populationLevel">0</p>
        Water: <p id="waterLevel">0</p>
        <button onclick="setTimeout(harvestWater, 3000)">Try it</button>
        Food: <p id="foodLevel">0</p>
        <button onclick="setTimeout(harvestFood, 3000)">Try it</button>
        Happiness: <p id="happinessLevel">0</p>
        Metal: <p id="metalLevel">0</p>
        <button onclick="setTimeout(harvestMetal, 3000)">Try it</button>
        Energy: <p id="energyLevel">0</p>
    </body>
</html>