<!DOCTYPE html>
<html>
    <head>
        <link rel = "stylesheet" href = "/stylesheets/homepage.css">
        <script src="//cdn.jsdelivr.net/npm/phaser@3.22.0/dist/phaser.js"></script>
        <script src = "/scripts/main.js" defer></script>
        <script src = "/scripts/stats.js" defer></script>
        <script src = "/scripts/actions.js" defer></script>
        <script src = "/scripts/events.js" defer></script>
    </head>

    <body>
        <div>Plant</div>
        
    </body>
</html>