<!DOCTYPE html>
<html onclick="startMusic()">

<link rel="stylesheet" href="/stylesheets/homepage.css">

<script>
    let playing = false;
    let timerStarted = false;

    function startMusic() {
        if (!playing) {
            playing = true;
            let scriptTag = document.createElement('script');
            scriptTag.setAttribute('src', 'scripts/music.js');
            document.head.appendChild(scriptTag);
        }
    }

    function startTimer() {
        if (!timerStarted) {
            timerStarted = true;
            decreaseTimer();
        }
    }

    function decreaseTimer() {
        setTimeout(() => {
            timeLeft -= 1;
            if (timeLeft <= 0)
                window.location.href = '/victory';
            decreaseTimer();
        }, 1000);
    }
</script>

<script src="//cdn.jsdelivr.net/npm/phaser@3.22.0/dist/phaser.js"></script>
<script src="/scripts/main.js" defer></script>
<script src="/scripts/stats.js" defer></script>
<script src="/scripts/actions.js" defer></script>
<script src="/scripts/events.js" defer></script>
<script src="/scripts/buttonclick.js" defer></script>
<script src="/scripts/techs.js" defer></script>


<body onmouseover="startTimer()">
    <div class="stats-container"></div>
    <div class="actions-container">
        <div class="action">
            <div class="container" onclick="harvestFood(); playButtonClick();">
                <img src="images/farm.png">
                <div class="overlay">
                    <div id="harvestFoodText" class="text"></div>
                </div>
            </div>
            <div class="progressBar">
                <div id="farmProgress" style="color: grey">...</div>

            </div>

            <div class="icon_container">
                <div class="container_up" onclick="upgradeFood(); playButtonClick();">
                    <img id=upgradeFood src="images/upgrade.png"><br>
                    <div class="overlay">
                        <div class="text_up">Upgrade</div>
                    </div>
                </div>
                <div class="alert">
                    <img id="foodSpoilageAlert" src="images/exclamation_mark.png"
                        onclick="fixFoodSpoiling(); playButtonClick();"><br>
                    <span class="tooltiptext">Fix the Food Spoilage issue. Costs 1 Engineer</span>
                </div>
            </div>
        </div>


        <div class="action">
            <div class="container" onclick="harvestMetal(); playButtonClick();">
                <img src="images/metal.png">
                <div class="overlay">
                    <div id="harvestMetalText" class="text"></div>
                </div>
            </div>
            <div class="progressBar">
                <div id="metalProgress" style="color: grey">...</div>
            </div>
            <div class="icon_container">
                <div class="container_up" onclick="upgradeMetal(); playButtonClick();">
                    <img id=upgradeMetal src="images/upgrade.png"><br>
                    <div class="overlay">
                        <div class="text_up">Upgrade</div>
                    </div>
                </div>
            </div>
            <div class="alert">
                    <img id="foodSpoilageAlert" src="images/energy.png"
                        onclick="fixFoodSpoiling(); playButtonClick();"><br>
                    <span class="tooltiptext">Fix the Food Spoilage issue. Costs 1 Engineer</span>
                </div>
        
        </div>

        <div class="action">
            <div class="container" onclick="harvestWater(); playButtonClick();">
                <img src="images/water.png">
                <div class="overlay">
                    <div id="harvestWaterText" class="text"></div>
                </div>
            </div>
            <div class="progressBar">
                <div id="waterProgress" style="color: grey">...</div>
            </div>
            <div class="icon_container">
                <div class="container_up" onclick="upgradeWater(); playButtonClick();">
                    <img id=upgradeWater src="images/upgrade.png"><br>
                    <div class="overlay">
                        <div class="text_up">Upgrade</div>
                    </div>
                </div>
                <div id="waterLeakageAlert" class="alert">
                    <img src="images/exclamation_mark.png" onclick="fixWaterLeakage(); playButtonClick();"><br>
                    <span class="tooltiptext">Fix the Water Leakage issue. Costs 1 Engineer</span>
                </div>
            </div>


        </div>
    </div>
</body>

</html>