<!DOCTYPE html>
<html onclick="startMusic()">

<link rel="stylesheet" href="/stylesheets/homepage.css">

<script>
    let playing = false;

    function startMusic() {
        if (!playing) {
            playing = true;
            let scriptTag = document.createElement('script');
            scriptTag.setAttribute('src', 'scripts/music.js');
            document.head.appendChild(scriptTag);
        }
    }
</script>

<script src="//cdn.jsdelivr.net/npm/phaser@3.22.0/dist/phaser.js"></script>
<script src="/scripts/main.js" defer></script>
<script src="/scripts/stats.js" defer></script>
<script src="/scripts/actions.js" defer></script>
<script src="/scripts/events.js" defer></script>
<script src="/scripts/buttonclick.js" defer></script>

<body onclick="startMusic()">
    <div id="actions">
        <!-- <div class="popup" id="lab" onclick="lab(); playButtonClick();">Laboratory</div> -->
        <div id="farm">
            <img id="farm" src="images/farm.png" onclick="harvestFood(); playButtonClick();"><br>
            <div id="myProgress">
                <div id="farmBar"></div>
            </div>
        </div>

        <div id="metal">
            <img id="metal" src="images/metal.png" onclick="harvestMetal(); playButtonClick();"><br>
            <div id="myProgress">
                <div id="metalBar"></div>
            </div>
        </div>

        <div id="water">
            <img id="water" src="images/water.png" onclick="harvestWater(); playButtonClick();"><br>
            <div id="myProgress">
                <div id="waterBar"></div>
            </div>
        </div>
    </div>
</body>

</html>