<!DOCTYPE html>
<html>
    <head>
        <link rel = "stylesheet" href = "/stylesheets/homepage.css">
        <script src = "/scripts/main.js"></script>
        <script src = "/scripts/initstats.js"></script>
        <script src = "/scripts/actions.js"></script>
    </head>

    <body>
        home page
    </body>
</html>