<!DOCTYPE html>
<html>
    <head>
        <link rel = "stylesheet" href = "/stylesheets/homepage.css">
        <script src = "/scripts/main.js"></script>
        <script src = "/scripts/initstats.js"></script>
        <script src = "/scripts/actions.js"></script>
    </head>

    <body>
        <p id="waterLevel">0</p>
        <p id="foodLevel">0</p>
        <p id="happinessLevel">0</p>
        <p id="energyLevel">0</p>
    </body>
</html>