<!DOCTYPE html>
<html>
        
<head>
    <link rel="stylesheet" type="text/css" href="stylesheets/homepage.css" />
   
</head>
<body>
<h1 align = "center">Game title page :)</h1>
 
<div>
        <img src="images/farm.png"  width="300" height="200" location=left>

    <form action="/home" method="get">

        
        <input type="submit" value="continue">
        
    </form>
    <br><br>
</div>

</body>