<!DOCTYPE html>
<html>
        
<head>
    <link rel="stylesheet" type="text/css" href="stylesheets/homepage.css" />
   
</head>
<body>
<h1 align = "center">Game title page :)</h1>
 
<div>
   
    <img id = "farm" src="images/farm.png" >
    <img id = "farm" src="images/energy.png" >

    <img id = 

    <form action="/home" method="get">

        
        <input type="submit" value="continue">
        
    </form>
    <br><br>
</div>

</body>