<!DOCTYPE html>
<html>

<audio preload="auto" src="sounds/miisong.mp3" loop="true" autobuffer></audio>
<script src="/scripts/music.js" defer></script>

<head>
    <link rel="stylesheet" type="text/css" href="stylesheets/homepage.css" />
</head>

<body>
    <h1 align="center">Game title page :)</h1>

    <div>
        <img src="images/farm.png" width="300" height="200" margin-left: "200" ;>

        <form action="/home" method="get">


            <input type="submit" value="continue">

        </form>
        <br><br>
    </div>

</body>