<!DOCTYPE html>
<html>

<script src="/scripts/buttonclick.js" defer></script>

<style>
    html {
        background-image: url("../images/wall-e.jpg");
        background-position: 50% 60%;
        height: 100%;
        text-align: center;
    }

    body {
        margin-top: 20%;
    }

    input {
        background-color: cornflowerblue;
        color: white;
        font-size: 9vh;
        font-family: "Times New Roman", Times, serif;
        border-radius: 10vh;
        border-style: hidden;
        padding: 6vh;
    }
</style>

<body>
    <form action="/home" method="get">
        <input onclick="playButtonClick()" type="submit" value="BEGIN">
    </form>
</body>