<!DOCTYPE html>
<html>
        
<head>
    <link rel="stylesheet" type="text/css" href="stylesheets/homepage.css" />
   
</head>
<body>
<h1 align = "center">Game</h1>
 
<div>
    <form action="/home" method="get">
 
        
        <input type="submit" value="continue">
        
    </form>
    <br><br>
</div>